ul{
    list-style: none;
    text-align:left;
    padding-top:10px;
    
}

.Search{
    border:1px solid rgb(251, 175, 188);
    margin-top:10px;
    width:760px;
    height:520px;
    display:block;
    margin:40px auto;
    border-radius:5px;
    background-color: rgb(243, 180, 243);
    
    

}
.forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.forecast-day {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    padding: 10px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 8px;
    width: 80px;           
}

.weekday {
    font-weight: bold;
    margin-bottom: 5px;
}

.forecast-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.forecast-temp {
    font-weight: bold;
    text-align: center;
}
.city{
    width:370px;
    padding:6px; 
    margin-top:10px;
    border:1px solid pink
}

.button{
    padding:8px;
    margin-left:8px;
    width:130px;
    background-color: rgb(250, 117, 232);
    border:1px solid pink;
    border-radius:4px;
}
.temperature{
    font-size:65px;
    font-weight:bold;
    
}
.unit{
    font-size:35px;
    font-weight:bold;
    margin-left:5px;
    margin-bottom:50px;
    
}
img{
    margin-bottom:14px;
   
}
.searchCity{
    font-size:25px;
    font-weight:bold;
}
.loader{
    margin-left:40px;
    margin-top:8px;

}